<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h2>User Info</h2>
<br/>

<form  th:method="PATCH" th:action="@{/users/update/{id}(id=${user.getId()})}" th:object="${user}">
    <label for="name">Enter name: </label>
    <input type="text" th:field="*{name}" id="name" placeholder="Name"/>
    <br/>
    <br/>
    <label for="lastname">Enter last name: </label>
    <input type="text" th:field="*{lastName}" id="lastname" placeholder="Last Name"/>
    <br/>
    <br/>
    <label for="age">Enter age: </label>
    <input type="text" th:field="*{age}" id="age" placeholder="00"/>
    <br/>
    <br/>
    <label for="email">Enter email: </label>
    <input type="text" th:field="*{email}" id="email" placeholder="Email"/>
    <br/>
    <br/>
    <label for="address">Enter address: </label>
    <input type="text" th:field="*{address}" id="address" placeholder="Address"/>
    <br/>
    <hr/>
    <input type="submit" value="Update!"/>

</form>

</body>
</html>